header{
    display:flex;
    border: 1px solid black;
    height: 60px;
    padding-left: 1rem;
    padding-right: 2rem;
    align-items: center;
    justify-content: space-between;
}
img{
    max-height:80%;
}
nav ul li{
    list-style-type:none;
}
.lista-horizontal{
    display: flex;
    justify-content: space-around;
}
.caixa{
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid black;
}
.principal{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}
footer{
    border: 1px solid black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}
main{
    border: 1px solid black;
    padding-left: 1rem;
    padding-right: 1.5rem;
    width: 71.5%;
}
aside{
    border: 1px solid black;
    width: 24.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.azul{
    color:blue;
}
aside ul li{
    width:70px;
}
h4{
    margin-left: 10px;
}